<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">

{% include 'webadmin/head.html' %}

<body id="page-top">
<div id="wrapper">
    {% include 'webadmin/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'webadmin/navbar.html' %}
            <div class="container-fluid">
                <h1>Detail Request Topup Active</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="p-3 mb-2 bg-success text-white">{{ message }}</div>
                {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-body">

                        <div class="text-center">
                            {% if rt.pic.url is not null %}
                                <a href="{{rt.pic.url}}"><img width="250" height="250" src="{{rt.pic.url}}" alt="" class="img-thumbnail"></a>
                            {% else %}
                                <a href="{% static 'bg-postku2.png' %}"><img width="250" height="250" src="{% static 'bg-postku2.png' %}" alt="" class="img-thumbnail"></a>
                            {% endif %}
                        </div>
                        &nbsp;

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Wallet Code</label>
                                <textarea class="form-control" readonly="" rows="1">{{rt.wallet_code}}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Toko</label>
                                <textarea class="form-control" readonly="" rows="1">{{rt.toko.nama}}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Request Balance</label>
                                <textarea class="form-control" readonly=""
                                          rows="1">Rp. {{rt.balance|intcomma}}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Created At</label>
                                <textarea class="form-control" readonly="" rows="1">{{rt.created_at}}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Chanel Payment</label>
                                <textarea class="form-control" readonly="" rows="1">{{rt.chanel}}</textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <label>Alasan Reject</label>
                                    <input type="text" class="form-control"
                                           name="reason" placeholder="Reason">
                                </div>
                                <div class="form-group col-md-6">
                                    <input class="btn btn-warning btn-user btn-block" type="submit" value="Kirim">
                                </div>
                            </form>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <a href="{% url 'confirm_request_topup' rt.id %}" type="button"
                                   class="btn btn-success btn-lg btn-block">Approve</a>
                            </div>

                            <div class="form-group col-md-6">
                                <a href="{% url 'confirm_request_topup_reject' rt.id %}">
                                    <input type="button" value="Reject" class="btn btn-danger btn-lg btn-block">
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% include 'webadmin/footer.html' %}
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>