<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'webadmin/head.html' %}

<body id="page-top">
<div id="wrapper">
    {% include 'webadmin/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'webadmin/navbar.html' %}
            <div class="container-fluid">

                <h1 class="h3 mb-2 text-gray-800">Tables Active Subscribtion</h1>

                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-warning">DataTables</h6>
                    </div>

                    &nbsp;

                    <div class="form-group col-md-3">
                        <a href="{% url 'sync_subs' %}" type="button" class="btn btn-info"><i class="fa fa-search">
                            SYNC DATA SUBS</i></a>
                    </div>

                    <hr>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Phone</th>
                                    <th>Active Date</th>
                                    <!--                                    <th>Action</th>-->
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Phone</th>
                                    <th>Active Date</th>
                                    <!--                                    <th>Action</th>-->
                                </tr>
                                </tfoot>

                                <tbody>
                                {% for i in account %}
                                <tr>
                                    <td>{{i.email}}</td>
                                    <td>{{i.username}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>{{i.subs_date}}</td>
                                    <!--                                    <td><a class="btn btn-sm btn-info" href="{% url 'detail_account' i.id %}">Detail</a></td>-->
                                </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include 'webadmin/footer.html' %}
    </div>
</div>


<!-- Bootstrap core JavaScript-->
{% include 'webadmin/includejs.html' %}

</body>

</html>